.container_f {
    background-color: rgb(204, 204, 204);
    margin-top: 60px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15% 0 15%;
    padding: 30px 0 30px 0;
    align-items: center;
}

.info a {
    color: black;
}

.info a:hover {
    color: white;
}

.ways_to_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.number {
    display: flex;
    flex-direction: column;
}

.number a {
    padding: 5px;
}

.social_net {
    width: 30px;
    padding-left: 15px;
}
