header {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    max-width: 100%;
}

.all_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.graphiclogo {
    width: 270px;
    height: 200px;
    /* width: 30%; */
    margin-left: 10px;
}

.menu li{
    display: inline-block;
    vertical-align: middle;
    margin: 25px;
}

.menu a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.logo, .menu {
    display: inline-block;
    vertical-align: middle;
}

