@media only screen and (max-width: 1200px) {
    .header {
        background-color:blueviolet;
        width: 800px
    }

    .service {
        background-color: red;
        width: 190px;
    }

    .proj {
        width: 290px;
        background-color: orange;
    }
}